.body-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem;
    font-family: "Special Gothic Expanded One", Arial, Helvetica, sans-serif;
    padding-bottom: 4rem;
}

#home-pumpkin{
    position: absolute;
    z-index: -1;
    width: 255px;
    height: 250px;
    background: url(/images/patchsheet1.webp) 500px -755px;
    right: 10%;
    top: 25%;
    rotate: 10deg;
}

#kuci-patch{
    position: absolute;
    z-index: -1;
    width: 255px;
    height: 250px;
    background: url(/images/patchsheet1.webp) 0 -750px;
    right: 10%;
    top: 40%;
    rotate: 10deg;
}

#home-skull{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: url(/images/patchsheet1.webp) 0 0;
    left: 10%;
    top: 1%;
    rotate: -10deg;
}

#home-alien{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 255px;
    background: url(/images/patchsheet1.webp) -250px 0;
    top: 6%;
    right: 10%;
    rotate: 8deg;
}

#home-anteaters{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 255px;
    background: url(/images/patchsheet1.webp) -250px -500px;
    top: 35%;
    left: 10%;
    rotate: -10deg;
}

#home-greenstar{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 255px;
    background: url(/images/patchsheet1.webp) -250px -256px;
    top: 5%;
    right: 10%;
    rotate: -15deg;
    display: none;
}

#home-heart{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 255px;
    background: url(/images/patchsheet1.webp) -500px 0;
    top: 70%;
    left: 12%;
    rotate: -10deg;
}

#home-mic{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 255px;
    background: url(/images/patchsheet1.webp) -755px 0;
    top: 60%;
    right: 6%;
}

#abt-orangebtn{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: url(/images/patchsheet1.webp) 0 -520px;
    top: -6%;
    left: 5%;
    rotate: -20deg;
}

#abt-bluestar{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: url(/images/patchsheet1.webp) 0 -270px;
    top: 25%;
    right: 5%;
    rotate: -20deg;
}

#abt-redstar{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: url(/images/patchsheet1.webp) -500px -275px;
    top: 60%;
    left: 5%;
    rotate: 20deg;
}

#abt-guitar{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    top: 50%;
    left: 40%;
    rotate: 20deg;
}

#arch-starbtn{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: url(/images/patchsheet1.webp) -750px -250px;
    top: 15%;
    right: -2%;
    rotate: 20deg;
}

#arch-skull{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: url(/images/patchsheet1.webp) 0 0;
    top: 100%;
    left: 5%;
    rotate: -8deg;
}

#arch-heart{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: url(/images/patchsheet1.webp) -500px 0;
    top: 200%;
    right: 5%;
    rotate: -8deg;
}

#abt-starbtn{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 250px;
    background: url(/images/patchsheet1.webp) -750px -250px;
    top: -2%;
    right: 30%;
    rotate: 8deg;
}

.title-1{
    color: black;
}

.patch-container{
    display: flex;
    flex-direction: column;
}

.body-all{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.about-body-container{
    position: relative;
    width: 100vw;
    padding: 2rem;
    font-family: "Special Gothic Expanded One", Arial, Helvetica, sans-serif;
    padding-bottom: 4rem;
}

.about-planners{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.coord-info{
    background-color: white;
    width: 80%;
    padding: 2rem;
    border-radius: 12px;
    color: black;
}

.about-header{
    padding: 0;
    margin: 0;
}

.abtheadmain{
    text-shadow: 3px 1px 5px black;
}

.abtmeet{
    text-shadow: 3px 1px 5px black;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.about-summary{
    display: flex;
    width: 75%;
    padding: 2rem;
    border-radius: 12px;
    background-color: white;
    color: black;
    flex-direction: column;
}

.about-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}

.about-img{
    height: 25rem;
    border-radius: 12px;
    border: 2px dashed black;
}

.upcoming-container{
    display: flex;
    width: 100vw;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    margin-top: 10rem;
    text-shadow: 3px 1px 5px black;
}

.flyer-img{
    height: 30rem;
}

.apply-main-link{
    font-size: 3rem;
}


.upcoming-img{
    height: 15rem;
    border-radius: 12px;
}

.upcoming-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(224, 127, 42);
    padding: 1rem;
    border-radius: 12px;
}

.dmphotos{
    width: 70%;
    text-shadow: 1px 1px 2px black;
}

.archive-body{
    display: flex;
    justify-content: center;
    min-height: 50rem;
    padding-bottom: 10rem;
    padding-top: 3rem;
    width: 100vw;
}

.archive-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    text-shadow: 3px 1px 5px rgba(34, 34, 34, 0.517);
}

.list-arch{
    display: flex;
    align-items: center;
    gap: 3rem;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow-x: scroll;
    max-width: 80%;
}

.archive-grid{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    padding: 2rem;
    max-width: 980px;
    margin: 0 auto;
}

.archive-header{
    font-family: "Special Gothic Expanded One", Arial, Helvetica, sans-serif;
    text-shadow: 3px 1px 5px black;
}

.archive-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}

.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.archive-img{
    height: 25rem;
    outline: 1.5px dashed red;
}

.archive-link{
    font-family: "Special Gothic Expanded One", Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
}

.archive-fallback{
    height: 100;
}

.fallback{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-img {
    width: 500px;
    height: auto;
    flex-shrink: 0;
}

.c-container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-top: 2rem;
}

.carousel {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    flex: 0 0 100%;
  }

.group {
    display: flex;
    gap: 20px;
    padding-right: 20px;
    will-change: transform;
    animation: scroll 30s linear infinite;
  }

.card {
    color: white;
    border-radius: 24px;
    box-shadow: rgba(0, 0, 0, 10%) 5px 5px 20px 0;
    padding: 20px;
    font-size: xx-large;
    justify-content: center;
    align-items: center;
    height: 30rem;

    &:nth-child(1) {
        background: #ff8d58;
    }

    &:nth-child(2) {
        background: #f28d34;
    }

    &:nth-child(3) {
        background: #da5e00;
    }

    &:nth-child(4) {
        background: #e67709;
    }

    &:nth-child(5) {
        background: #f78228;
    }
}

.c-left, .c-right{
    background: linear-gradient(90deg,rgba(250, 105, 27, 1) 0%, rgba(255, 153, 28, 1) 50%, rgba(255, 233, 38, 1) 100%);
    background-size: 200% 200%;
    -webkit-animation: Animation 10s ease infinite;
    -moz-animation: Animation 10s ease infinite;
    animation: Animation 10s ease infinite;
    width: 5rem;
    margin-top: 2rem;
    height: 32.5rem;
}

.c-left{
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
}

.c-right{
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
}


@-webkit-keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes Animation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes Animation { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.whole-c{
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
    }

.apply-body{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
}

#names-instruments, #songs-id{
    width: 20rem;
}

.insta-embed{
    background-color: rgb(160, 75, 160) ;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: .2rem;
}

#discoduck{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 245px;
    background: url(/images/patchsheet1.webp) -500px -515px;
    left: 10%;
    top: 50%;
    rotate: 5deg;
}

.spotify-info{
    font-size: 2rem;
    width: 80%;
}

.spotify-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 75%;
    gap: 5rem;
    margin-bottom: 3rem;
    text-shadow: 3px 1px 5px black;
}

.spotify-header{
    text-shadow: 3px 1px 5px black;
}

.spotify-playlist{
    border-radius: 12px;
    box-shadow: 1px 2px 7px rgb(55, 31, 31);
    height: 25rem;
}

.apply-now{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.apps-closed{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.apps-closed > img{
    height: 15rem;
}

.apps-closed > p{
    font-size: 2.5rem;
    width: 80%;
    font-family: "Special Gothic Expanded One", Arial, Helvetica, sans-serif;
}

/*-----media-----*/

@media(max-width: 1280px){
    #uppatch{
        height: 200px;
    }

    #discoduck{
        background-size: 650px 650px;
        height: 139px;
        width: 175px;
        background-position: -320px -350px;
    }

    #home-skull{
        background-size: 650px 650px;
        height: 175px;
        width: 175px;
    }

    #home-alien{
        background-size: 650px 650px;
        background-position: -160px 0;
        height: 175px;
        width: 170px;
    }

    #kuci-patch{
        background-size: 650px 650px;
        background-position: 0 -480px;
        height: 175px;
        width: 170px;
        top: 1200px;
    }

    #home-anteaters{
        background-size: 650px 650px;
        background-position: -160px -350px;
        height: 175px;
        width: 175px;
    }

    #home-pumpkin{
        background-size: 650px 650px;
        background-position: -300px -488px;
        height: 170px;
        width: 190px;
    }

    #home-greenstar{
        background-size: 650px 650px;
        background-position: -160px -165px;
        height: 175px;
        width: 160px;
    }

    #home-heart{
        background-size: 650px 650px;
        background-position: -320px 0;
        height: 175px;
        width: 175px;
    }

    #home-mic{
        background-size: 650px 650px;
        background-position: -488px 0;
        height: 175px;
        width: 170px;
    }

    #abt-orangebtn{
        background-size: 650px 650px;
        background-position: 0 -350px;
        height: 175px;
        width: 160px;
        top: 1%;
    }

    #abt-starbtn{
        background-size: 650px 650px;
        background-position: -488px -160px;
        height: 175px;
        width: 160px;
        right: 3%;
    }

    #abt-bluestar{
        background-size: 650px 650px;
        background-position: 0 -165px;
        height: 175px;
        width: 170px;
    }

    #abt-redstar{
        background-size: 650px 650px;
        background-position: -320px -160px;
        height: 175px;
        width: 170px;
    }

    #abt-guitar{
        height: 160px;
        width: 160px;
    }

    .carousel-img{
        height: 25rem
    }

    .card{
        height: 20rem;
    }

    .c-left, .c-right{
        height: 22.5rem;
    }

    .c-left{
        padding-left: 5rem;
    }

    .c-right{
        padding-right: 5rem;
    }

    .c-container, .carousel{
        max-width: 1000px;
    }

    .archive-img{
        height: 15rem;
    }

    .spotify-info{
        font-size: 1.7rem;
    }

    .spotify-header{
        font-size: 2rem;
    }

    .spotify-container{
        flex-direction: column;
    }

    .upcoming-container{
        margin-top: 3rem;
    }
}

@media(max-width: 700px){
    #uppatch{
        height: 150px;
    }

    #discoduck{
        top: 51%;
    }
    
    #home-skull{
        top: -3%;
    }

    #kuci-patch{
        top: 1000px;
    }

    #home-greenstar{
        top: 8%;
    }

    #home-anteaters{
        top: 31%;
    }

    .carousel-img{
        height: 12rem;
    }

    .card{
        height: 15rem;
        padding: 2px;
    }

    .upcoming-title{
        font-size: 1.5rem;
    }

    .about-body-container > h1{
        font-size: 2rem;
    }

    .about-content > h2 {
        font-size: 1.2rem;
    }

    .about-planners{
        flex-direction: column;
    }

    .about-section{
        gap: 1rem;
    }

    .coord-info{
        width: 70%;
    }

    .archive-grid{
        grid-template-columns: repeat(1, 1fr);
    }

    .archive-img{
        height: 12rem;
    }

    .archive-body{
        padding-top: 1rem;
    }

    .archive-nav{
        flex-direction: column;
        font-size: .8rem;
        gap: 1rem;
    }

    .list-arch{
        flex-direction: column;
    }

    .flyer-img{
        height: 17rem;
    }

    .apply-main-link{
        font-size: 2rem;
    }

    .spotify-header{
        font-size: 2rem;
    }

    .spotify-info{
        font-size: 1.5rem;
    }

    .spotify-container{
        flex-direction: column;
    }

    .apply-now{
        font-size: .8rem;
        display: flex;
        flex-direction: column;
    }

    .apps-closed > p{
        font-size: 1.5rem;
        width: 90%;
    }

    #sunp{
        height: 200px;
        margin-top: 4rem;
    }
}
  