.contact-body{
    display: flex;
    flex-direction: column;
    width: 100svw;
    height: 100%;
    padding-bottom: 15rem;
    font-family: "Special Gothic Expanded One", Arial, Helvetica, sans-serif;
}

.contact-header{
    text-shadow: 3px 1px 5px black;
}

.aemail{
    color: white;
}


#contact-alien{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 258px;
    background: url(/images/patchsheet1.webp) -250px -0;
    top: 15%;
    left: -2%;
    rotate: -20deg;
}

#contact-bluestar{
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 270px;
    background: url(/images/patchsheet1.webp) -0 -250px;
    top: 70%;
    right: 3%;
    rotate: 20deg;
}

#contact-anteaters{
    display: none;
    position: absolute;
    z-index: -1;
    width: 250px;
    height: 258px;
    background: url(/images/patchsheet1.webp) -250px -500px;
    top: 90%;
    left: 5%;
    rotate: -10deg;
}

.contact-general{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-bottom: 5rem;
}
.contact-header{
    margin-top: 4rem;
}

a{
    color: orange;
}

.contact-basic{
    color: black;
    padding: 1rem;
    border-radius: 12px;
}

.form-group.comments.email-comments{
    border: none;
}

.contact-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #496d58;
    padding: 2rem;
    border-radius: 12px;
    border: 2px solid black;
}

.contact-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    color: black;
    border-radius: 12px;
}

.pre-form{
    display: none;
    margin-top: 3rem;
    display: flex;
    color: black;
    background-color: #c8dffb;
    border: 2px solid black;
}

.apply-link{
    color: black;
    cursor: pointer;
}

.email-form{
    color: black;
}

.email-submit{
    background-color: rgb(35, 56, 41);
}

Link{
    color: black;
}

@media(max-width: 1280px){
    .form-group.comments.email-comments > .for-area{
        width: 100%;
    }

    #contact-alien{
        background-size: 650px 650px;
        background-position: -160px 0;
        height: 175px;
        width: 170px;
    }

    #contact-bluestar{
        background-size: 650px 650px;
        background-position: 0 -165px;
        height: 175px;
        width: 170px;
        right: 10%;
        top: 60%;
    }

    #contact-anteaters{
        background-size: 650px 650px;
        background-position: -160px -350px;
        height: 175px;
        width: 175px;
        top: 60%;
    }

    .contact-us{
        width: 80%;
        padding-bottom: 10rem;
    }
}

@media(max-width: 700px){
    .contact-header{
        font-size: 1.5rem;
    }

    .contact-us{
        width: 75%;
    }

    .contact-basic{
        font-size: 1rem;
        width: 40%;
    }

    .email-form{
        width: 75%;
    }

    .form-group.comments.email-comments{
        width: 80%;
    }

    .form-group.comments.email-comments > .for-area{
        width: 180%;
    }

    .pre-form{
        width: 75%;
    }

    #contact-bluestar{
        top: 5%;
    }

    #contact-anteaters{
        display: none;
    }
}