.footer-container{
    background-color: #281504;
    width: 100%;
    padding: 1rem;
    position: relative;
    bottom: 0;
}

@media(max-width:700px){
    .footer-container{
        font-size: .8rem;
    }
}